:root {
	--body-color: #cee6fa;
	--primary-color: #0d9488;
	--primary-hover: #0f766e;
	--primary-text: #23615c;
	--text-dark: #1f2937;
	--text-light: #4b5563;
	--background: #f8f9fa;
	--card-background: #ffffff;
	--shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	--base-font-size: 16px;
	--font-scale: 1.2;

	/* icon section-2 */
	--icon-blue: #4285F4;
	--icon-red: #EA4335;
	--icon-yellow: #FBBC05;
	--icon-green: #34A853;
	--icon-purple: #9C27B0;
	--icon-orange: #FF9800;
}

/* Цвета для иконок */
.icon-blue {
	background-color: rgba(66, 133, 244, 0.1);
	color: var(--icon-blue);
}

.icon-red {
	background-color: rgba(234, 67, 53, 0.1);
	color: var(--icon-red);
}

.icon-yellow {
	background-color: rgba(251, 188, 5, 0.1);
	color: var(--icon-yellow);
}

.icon-green {
	background-color: rgba(52, 168, 83, 0.1);
	color: var(--icon-green);
}

.icon-purple {
	background-color: rgba(156, 39, 176, 0.1);
	color: var(--icon-purple);
}

.icon-orange {
	background-color: rgba(255, 152, 0, 0.1);
	color: var(--icon-orange);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
	line-height: 1.6;
	color: var(--text-dark);
	font-optical-sizing: auto;
	font-size: 1.5vh;
	font-size: 16px;
}

body {
	margin: 5rem 20rem;
	overflow: auto;
	background-color: var(--body-color);
	background: radial-gradient(circle,
			rgba(39, 227, 237, 0.171) 30%,
			rgba(146, 216, 219, 0.5) 100%);
}